}
.watermark {
  position: fixed;
  bottom: 200px;
  left: 6%;
  font-size: 15px;
  color: black(255, 255, 255, 0.6);
  font-style: italic;
  pointer-events: none;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 0.5px;
}
